html {
  font-family: Helvetica, comic-sans;
  font-size: 16px;
  text-align: center;
  line-height: 1.4rem;
}


#web_heading{
  background: #DDD0C1 url("../images/weavingpage-loom.png") no-repeat center center;
  background-color: rgba(199,178,153,0.6);
  background-size: cover;
  height: 175px;
  /*width: 1200px;*/
  background-position: center;
  align-items: center;
  text-align: center;
  top: 0;
  padding-top: 0;
}

.container{
  width: 960px;
  margin: auto;
  overflow: hidden; /* not sure if I need this */
  background-color:#c7b299;
}
.heading_minor {
  color: #894819;
}

#navbar h1{
  padding-top: 1rem;
  font-size: 2rem;
  color: black;
}

#navbar {
  /*background-color:#c7b299;*/

  /*color: #603813 ;*/
  color: white;
}

#navbar ul{

  padding: 0;
  list-style: none;

}

#navbar li{
  display: inline;

}

#navbar a{
    /*color: #603813 ;*/
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
    font-weight: bold;
}


.content {
  display: flex;
  justify-content: space-around;
}
.events-dyekits{
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align:left;
}

.events-dyekits img{
  width: 20rem;
  margin-left: 1em;
}

.events-dyekits p{

}

.events-dyekits ul{
  list-style: none;
}

.festivals-quotes{
  display: flex;
  flex-direction: column;
    width: 40%;
    text-align:left;
}
